Repository neutrinojs/neutrino, pull requests merged in 2018-05, with the labels that each got.

#838 pwa: Update offline-plugin to v5
  packages/pwa/index.js
  packages/pwa/package.json
  packages/pwa/pwa.js
  yarn.lock
Labels: breaking change, webpack-4

#845 Update to Babel 7
  docs/cli/README.md
  docs/packages/compile-loader/README.md
  docs/packages/library/README.md
  docs/packages/node/README.md
  docs/packages/preact/README.md
  docs/packages/react-components/README.md
  docs/packages/react/README.md
  docs/packages/vue/README.md
  docs/packages/web/README.md
  docs/presets/README.md
  packages/compile-loader/README.md
  packages/compile-loader/package.json
  packages/jest/package.json
  packages/jest/src/index.js
  packages/jest/src/transformer.js
  packages/library/README.md
  packages/library/index.js
  packages/library/package.json
  packages/mocha/package.json
  packages/mocha/src/index.js
  packages/mocha/src/register.js
  packages/node/README.md
  packages/node/index.js
  packages/node/package.json
  packages/preact/README.md
  packages/preact/index.js
  packages/preact/package.json
  packages/react-components/README.md
  packages/react/README.md
  packages/react/index.js
  packages/react/package.json
  packages/vue/README.md
  packages/web/README.md
  packages/web/index.js
  packages/web/package.json
  yarn.lock
Labels: breaking change

#858 web: Simplify the font and image rules/loaders
  docs/packages/font-loader/README.md
  docs/packages/image-loader/README.md
  docs/packages/image-minify/README.md
  docs/packages/web/README.md
  packages/font-loader/README.md
  packages/font-loader/index.js
  packages/font-loader/package.json
  packages/font-loader/test/middleware_test.js
  packages/image-loader/README.md
  packages/image-loader/index.js
  packages/image-loader/package.json
  packages/image-loader/test/middleware_test.js
  packages/image-minify/README.md
  packages/image-minify/index.js
  packages/image-minify/test/middleware_test.js
  packages/web/README.md
Labels: breaking change

#872 Remove codacy and codecov
  README.md
  docs/README.md
  package.json
  yarn.lock
Labels: development

#877 Use verdaccio to test create-project
  .gitignore
  .travis.yml
  docs/contributing/development.md
  package.json
  packages/create-project/commands/init/index.js
  packages/create-project/commands/init/matrix.js
  packages/create-project/commands/init/utils.js
  packages/create-project/package.json
  packages/create-project/test/cli_test.js
  scripts/test-create-project-ci.sh
  verdaccio.yml
  yarn.lock
Labels: development

#880 Docs: Correct style-loader's sass-loader example
  docs/packages/style-loader/README.md
  packages/style-loader/README.md
Labels: docs

#884 Misc monorepo testing improvements
  .eslintignore
  .gitignore
  package.json
  packages/create-project/bin/create-project.js
  scripts/test-create-project-ci.sh
  verdaccio.yml
Labels: development

#891 [v8.x] Serve docs using Netlify
  CNAME
  docs/contributing/development.md
  netlify.toml
  package.json
  yarn.lock
Labels: docs

#899 [v7.x] Serve docs using Netlify
  CNAME
  README.md
  book.json
  docs/README.md
  docs/SUMMARY.md
  docs/contributing/development.md
  docs/middleware/neutrino-middleware-banner/README.md
  docs/middleware/neutrino-middleware-chunk/README.md
  docs/middleware/neutrino-middleware-clean/README.md
  docs/middleware/neutrino-middleware-copy/README.md
  docs/middleware/neutrino-middleware-dev-server/README.md
  docs/middleware/neutrino-middleware-env/README.md
  docs/middleware/neutrino-middleware-eslint/README.md
  docs/middleware/neutrino-middleware-font-loader/README.md
  docs/middleware/neutrino-middleware-hot/README.md
  docs/middleware/neutrino-middleware-html-loader/README.md
  docs/middleware/neutrino-middleware-html-template/README.md
  docs/middleware/neutrino-middleware-image-loader/README.md
  docs/middleware/neutrino-middleware-loader-merge/README.md
  docs/middleware/neutrino-middleware-minify/README.md
  docs/middleware/neutrino-middleware-pwa/README.md
  docs/middleware/neutrino-middleware-start-server/README.md
  docs/middleware/neutrino-middleware-style-loader/README.md
  docs/presets/neutrino-preset-airbnb-base/README.md
  docs/presets/neutrino-preset-jest/README.md
  docs/presets/neutrino-preset-karma/README.md
  docs/presets/neutrino-preset-mocha/README.md
  docs/presets/neutrino-preset-node/README.md
  docs/presets/neutrino-preset-react/README.md
  docs/presets/neutrino-preset-web/README.md
  docs/robots.txt
  netlify.toml
  package.json
  packages/neutrino-middleware-banner/README.md
  packages/neutrino-middleware-chunk/README.md
  packages/neutrino-middleware-clean/README.md
  packages/neutrino-middleware-copy/README.md
  packages/neutrino-middleware-dev-server/README.md
  packages/neutrino-middleware-env/README.md
  packages/neutrino-middleware-eslint/README.md
  packages/neutrino-middleware-font-loader/README.md
  packages/neutrino-middleware-hot/README.md
  packages/neutrino-middleware-html-loader/README.md
  packages/neutrino-middleware-html-template/README.md
  packages/neutrino-middleware-image-loader/README.md
  packages/neutrino-middleware-loader-merge/README.md
  packages/neutrino-middleware-minify/README.md
  packages/neutrino-middleware-pwa/README.md
  packages/neutrino-middleware-start-server/README.md
  packages/neutrino-middleware-style-loader/README.md
  packages/neutrino-preset-airbnb-base/README.md
  packages/neutrino-preset-jest/README.md
  packages/neutrino-preset-karma/README.md
  packages/neutrino-preset-mocha/README.md
  packages/neutrino-preset-node/README.md
  packages/neutrino-preset-react/README.md
  packages/neutrino-preset-web/README.md
  packages/neutrino/README.md
  yarn.lock
Labels: docs

#904 Fix the Netlify build after #852
  docs/packages/fork.md
  mkdocs.yml
Labels: docs

#890 loader-merge: Fix usage of `object-rest-spread`
  docs/migration-guide.md
  packages/loader-merge/README.md
Labels: docs

#918 [v8.x] Docs: Update previous docs version links in sidebar
  docs/SUMMARY.md
Labels: docs

#919 Speed and reliability improvements to Verdaccio configuration
  verdaccio.yml
Labels: development
